.adminArea {
  margin: 10px; }
  .adminArea * {
    box-sizing: border-box; }

.adminContent {
  background: none repeat scroll 0% 0% #fff;
  padding: 16px;
  clear: left;
  border: 1px solid #ccc; }

.galleryPreview {
  height: 150px;
  padding: 5px;
  text-align: left; }

.hiddenWidget {
  display: none; }

.editingWidget > * {
  display: block;
  width: 50%;
  margin: 10px auto; }

.imageDropArea {
  height: 100px; }

.imageEditor {
  margin: 10px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  position: relative; }
  .imageEditor.addToGallery img {
    box-shadow: 0px 0px 5px 5px #1e8cbe; }
  .imageEditor:hover h3, .imageEditor:hover p {
    opacity: 1;
    transition: opacity 1.5s ease; }
  .imageEditor h3, .imageEditor p {
    text-align: center;
    position: absolute;
    width: 100%;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.75);
    opacity: 0;
    padding: 5px;
    transition: opacity; }
  .imageEditor h3 {
    top: 0; }
  .imageEditor p {
    bottom: 0px; }
  .imageEditor p:empty, .imageEditor h3:empty {
    display: none; }
  .imageEditor img {
    vertical-align: middle;
    margin: 1em 0; }
